# ----------------------------------------------------
# Hugo
# ----------------------------------------------------

# 公共文件夹，Hugo 生成的所有静态文件都存放在这里
# 自动化部署时，服务器会自己生成，无需推送到 Git 仓库
public/

# 缓存目录，Hugo 缓存处理后的图像和 Sass 文件
resources/_gen/

# ----------------------------------------------------
# 操作系统相关文件
# ----------------------------------------------------

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Windows
Thumbs.db
ehthumbs.db